extends layout
include utils.pug

block content
    .projectcontainer
        .projectgrid
            .leftcontainer
                img(src=project.imgLink id='furnitureimg')
                .description
                    //- p Description
                    .descriptiontext= project.description
            .rightcontainer
                .projectname(id='projecttitle')= project.name
                .details
                    div.detailcontentleft By: #{project.brand}
                    div.detailcontentright Serial Number: #{project.serialNumber}
                    //- p Details
                    //- dl.detailcontent
                    //-     dt Furniture Type
                    //-     dd= furnitureTypeText
                    //-     dt Brand
                    //-     dd= project.brand
                    //-     dt Serial Number
                    //-     dd= project.serialNumber
                div
                .displayReviewContainer
                    h1 Reviews
                    each review in reviews
                        div.displayedReviews
                            div.userName &#128736 #{review.User.userName}
                            div.userReview= review.content
                            div.userIcons
                                i(class="fa fa-star" aria-hidden="true") #{review.rating}
                                i(class="fa fa-hourglass-half" aria-hidden="true") #{review.completionTime}
                                i(class="fa fa-thermometer-quarter" aria-hidden="true") #{review.difficultyLevel}
                                button.editbutton.button(id="review-btn") Edit
        .reviews
            div
                if locals.authenticated
                    .createReviewContainer
                        h1 Leave a review:
                        form(method='post' action='/reviews')
                            .inputReviewContainer
                                textarea(name="content", cols="30", rows="10")
                            .difficultyLevelContainer
                                label(for="difficultyLevel") Please choose a number between 1-10 for difficulty level:
                                input(type="number", name='difficultyLevel',min='0', max='10')
                            .ratingContainer
                                label(for='rating') Please choose a number between 1-5 for your rating of enjoyment in building this project:
                                input(type="number", name='rating',min='0', max='5')
                            .completionTimeContainer
                                label(for='completionTime') Please specify the amount of time it took to complete this project:
                                input(type='text', name='completionTime',placeholder='Amount of time')
                                input(type='hidden',name='projectId',value=projectId)
                                button.reviewbutton.button Submit
                else
                    .userNotLoggedInReview
                        h1 To leave a review please create an account and log in.
                            li: a(href='/users/login') &#128736   Existing users log in.
                            li: a(href='/users/register') &#128736    Create an account

